ssl/*.crt
ssl/*.key
ssl/*.srl
ssl/*.csr
signalmaster

*.gbr
*.drl
*bak

catkin_ws/install
catkin_ws/build
catkin_ws/devel

arduino/libraries/ros_lib
interface/node_modules
interface/public/common/js/config.js
catkin_ws/src/robairmain/launch/robair.launch

arduino/*/paths.mk
arduino/*/build-*/
