[submodule "arduino/makefiles"]
	path = arduino/makefiles
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "catkin_ws/src/rosserial"]
	path = catkin_ws/src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "arduino/libraries/Adafruit_TiCoServo"]
	path = arduino/libraries/Adafruit_TiCoServo
	url = https://github.com/adafruit/Adafruit_TiCoServo.git
[submodule "arduino/libraries/Adafruit_NeoPixel"]
	path = arduino/libraries/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "simulator/simavr"]
	path = simulator/simavr
	url = https://github.com/buserror/simavr.git
