[submodule "arduino/makefiles"]
	path = arduino/makefiles
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "catkin_ws/src/rosserial"]
	path = catkin_ws/src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "signalmaster"]
	path = signalmaster
	url = https://github.com/fabMSTICLig/signalmaster.git
	branch = robair
[submodule "arduino/libraries/Adafruit_NeoPixel"]
	path = arduino/libraries/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
