ssl/*.crt
ssl/*.key
ssl/*.srl
ssl/*.csr

*.gbr
*.drl
*bak
*.sw[op]
#*#
*~

catkin_ws/install
catkin_ws/build
catkin_ws/devel
catkin_ws/src/CMakeLists.txt

arduino/libraries/ros_lib
interface/node_modules
interface/config.json
interface/public/common/js/config.js

arduino/*/paths.mk
arduino/*/build-*/

/configs/robair.service
/configs/.last_ip

/*.log
