<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/serial/by-id/usb-Arduino__www.arduino.cc__Arduino_Uno_749373037363515050A1-if00" />
  </node>
  <node pkg="robairmain" type="webserver.sh" name="webserver">
  </node>
  <node pkg="robairmain" type="proxy" name="proxy">
  </node>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="6777"/>
     <arg name="ssl" value="true"/>
     <arg name="certfile" value="/home/robair/Rob-AIR/ssl/device.crt"/>
     <arg name="keyfile" value="/home/robair/Rob-AIR/ssl/device.key"/>
  </include>
</launch>
