<launch>

  <param name="touchRTresh" value="0.80" />
  <param name="touchLTresh" value="0.50" />
  <param name="bumpFTresh" value="0.15" />
  <param name="bumpRTresh" value="0.15" />
  <param name="aruDelay" value="5000" />
  <param name="coefSmoothness" value="0.90" />
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" unless="$(optenv SKIP_ARDUINO false)">
    <param name="port" value="$(env ROBAIR_ARDUINO)" />
  </node>
  <node pkg="robairmain" type="webserver.sh" name="webserver">
  </node>
  <node pkg="robairmain" type="proxy" name="proxy">
  </node>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
     <arg name="port" value="6777"/>
     <arg name="ssl" value="true"/>
     <arg name="certfile" value="$(env ROBAIR_HOME)/ssl/device.crt"/>
     <arg name="keyfile" value="$(env ROBAIR_HOME)/ssl/device.key"/>
  </include>
</launch>
