<launch>

  <param name="touchRTresh" value="0.80" />
  <param name="touchLTresh" value="0.50" />
  <param name="bumpFTresh" value="0.15" />
  <param name="bumpRTresh" value="0.15" />
  <param name="aruDelay" value="5000" />
  <param name="coefSmoothness" value="0.90" />

  <param name="mongodb_host" value="localhost" />
  <param name="mongodb_port" value="62345" />
  <node pkg="mongodb_store" type="mongodb_server.py" name="mongodb_server">
    <param name="database_path" value="$(env ROBAIR_HOME)/data/mongodb" />
  </node>
  <node pkg="mongodb_store" type="config_manager.py" name="config_manager">
  </node>

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" unless="$(optenv SKIP_ARDUINO false)">
    <param name="port" value="$(env ROBAIR_ARDUINO)" />
    <param name="baud" value="9600" />
  </node>

  <node pkg="robairmain" type="webserver.sh" name="webserver">
  </node>
  <node pkg="robairmain" type="proxy" name="proxy">
  </node>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
     <arg name="port" value="6777"/>
     <arg name="ssl" value="true"/>
     <arg name="certfile" value="$(env ROBAIR_HOME)/ssl/device.crt"/>
     <arg name="keyfile" value="$(env ROBAIR_HOME)/ssl/device.key"/>
  </include>

  <!-- Odometry -->
  <node pkg="roswifibot" type="wifibot_node" name="wifibot_node">
    <param name="entrax" value="0.40" />
    <param name="ticsPerMeter" value="2497.69" />
  </node>
  <node pkg="roswifibot" type="wifibot_tf_broadcaster" name="tf_broadcaster" />
  <node pkg="urg_node" type="urg_node" name="lidar">
    <param name="serial_port" value="/dev/serial/by-id/usb-Hokuyo_Data_Flex_for_USB_URG-Series_USB_Driver-if00" />
  </node>
</launch>
