<!DOCTYPE html>
<html>

<head>
    <title>Robair Client</title>

    <link rel="stylesheet" href="common/libs/bootstrap.min.css">
    <link rel="stylesheet" href="common/libs/font-awesome.min.css">
    <link rel="stylesheet" href="client/index.css">
</head>

<body>
    <div class="">
        <div class="" id="remoteVideos"></div>
        <canvas id="undistorted-video" class="video" style="display: none ;" width="640" height="480"></canvas>
        <div class="" id="overlay"></div>
        <video class="img-responsive" id="localVideo"></video>
        <div class="commands container">
            <div class="panel panel-default">
                <div class="panel-heading" id="status">Status</div>
                <div class="panel-body">
                    <table class="table table-bordered text-center status">
                        <tbody>
                            <tr>
                                <td>
                                        <span class="glyphicon glyphicon-signal" id="ping"></span> <span id="pingtxt"></span>ms
                                </td>
                                <td>
                                        <span class="fa fa-battery-4" id="battery"></span>
                                </td>
                            </tr>
                            <tr>
                              <td colspan="3">
                                  <canvas id="eyesCanvas" width="280" height="54" style="border:1px solid #000000;"></canvas>
                              </td>
                            </tr>
                           <tr>
                              <td colspan="3">
                           <!--       <span class="fa fa-hand-paper-o" id="touchRight"></span> -->
                                  <svg id="headCanvas" width="80" height="80" viewBox="0 0 200 200">
                                    <circle cx="100" cy="100" r="90" stroke="black" stroke-width="3"  fill-opacity="0.0"/>
                                    <circle cx="100" cy="100" r="40" stroke="black" stroke-width="3" fill-opacity="0.0"/>
                                    <path id="head" d="M 60,100 A 40 40 0 0 1 140,100" stroke="green" fill-opacity="0.0" stroke-width="10"/>
                                    <path id="bumperFront" d="M 10,100 A 90 90 0 0 1 190,100" stroke="red" fill-opacity="0.0" stroke-width="10" />
                                    <path id="bumperRear" d="M 190,100 A 90 90 0 0 1 10,100" stroke="red" fill-opacity="0.0" stroke-width="10" />
                                    <rect x="50" y="40" height="10" width="100" rx="10" ry="10" stroke="black" stroke-width="3" fill-opacity="0.0"/>
                                    <rect x="5" y="70" height="60" width="10" rx="10" ry="10" stroke="black" stroke-width="3" fill="white"/>
                                    <rect x="185" y="70" height="60" width="10" rx="10" ry="10" stroke="black" stroke-width="3" fill="white"/>
                                  </svg>
                            <!--      <span class="fa fa-hand-paper-o" id="touchLeft"></span> -->
                              </td>
                            </tr>
			    <tr>
                                <td>
                                    <button type="button" class="btn btn-default" id="headleft">
                                        <span class="glyphicon glyphicon glyphicon-arrow-left"></span>
                                    </button>
                                </td>
				 <td>
                                    <button type="button" class="btn btn-default" id="headorigin">
                                        <span class="glyphicon glyphicon glyphicon glyphicon-arrow-up"></span>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default" id="headright">
                                        <span class="glyphicon glyphicon glyphicon-arrow-right"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Contrôles</div>
                <div class="panel-body">
                    <table class="table table-bordered text-center controles">
                        <tbody>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default" id="hleft">
                                        <span class="glyphicon glyphicon-hand-left"></span>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default" id="foward">
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default" id="refresh">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-default" id="left">
                                        <span class="glyphicon glyphicon-arrow-left"></span>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default" id="backward">
                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default" id="right">
                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Vitesse :
                                </td>
                                <td colspan="2">
                                        <input id="speed" type="range" value="0.5" max="1" min="0" step="0.05" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default" id="video-panel" style="display: none ;">
                <div class="panel-heading">Vidéo</div>
                <div class="panel-body">
                    <table class="table table-bordered text-center controles">
                        <tbody>
                            <tr>
                                <td style="width: 250px ;">
                                    Corriger la distortion&nbsp;:
                                </td>
                                <td>
                                    <input id="fix-distortion" type="checkbox" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Valeur de correction&nbsp;:
                                </td>
                                <td>
                                    <input id="distortion-value" type="range" value="0" min="-2" max="2" step="0.1" disabled />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="rebootModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Redémarrage</h4>
          </div>
          <div class="modal-body">
            <p>L'interface va redémarrer dans <span id="rebootCount" >5</span></p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <script type="text/javascript" src="common/libs/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="common/libs/latest-v2.js"></script>
        <script type="text/javascript" src="common/libs/eventemitter2.js"></script>
        <script type="text/javascript" src="common/libs/roslib.min.js"></script>
        <script type="text/javascript" src="common/libs/bootstrap.min.js"></script>
        <script type="text/javascript" src="common/libs/fisheye/fisheye.js"></script>
        <script type="text/javascript" src="client/eyes.js"></script>
        <script type="text/javascript" src="common/js/config.js"></script>
        <script type="text/javascript" src="common/js/robairrtc.js"></script>
        <script type="text/javascript" src="common/js/robairros.js"></script>
        <script type="text/javascript" src="client/robair.js"></script>
        <script type="text/javascript" src="client/video.js"></script>
        <script type="text/javascript" src="client/gamepad.js"></script>
</body>

</html>
