<!DOCTYPE html>
<html>
    <head>
        <title>Robair Client</title>
        <script src="common/js/latest-v2.js"></script>
        <script src="common/js/config.js"></script>
        <script src="common/js/webrtc.js"></script>
        <style>
            #remoteVideos video {
                width: 1024px;
            }
            #localVideo {
                width: 300px;
            }
        </style>
    </head>
    <body>
        <video id="localVideo"></video>
        <div id="remoteVideos"></div>
    </body>
</html>
